.footer-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #444444;
    color:white;
    justify-content: space-between;
    align-items: center;
}

.first-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-section {
    flex: 1 1 300px;
}

.center-section {
    flex: 1 1 0px;
    text-align: center;
}

.right-section {
    flex: 1 1 300px;
    text-align: right;
}

.bottom-section {
    width: 100%;
    text-align: center;
    margin-bottom:0px;
}
