body {
}
.container-fluid {
    background-color: #145DA0;
    
}
.navbar {
    background-color: #145DA0;
}
.nav-item{
    
    text-decoration:double;
    
}
.navbar-nav {
    margin-left: auto;
}
    .navbar-nav > li:not(:last-child) {
        margin-right: 50px;
    }

.nav-link {
    font-size: 18px;
}

