.carousel {
    margin-top: -50px;
    margin-bottom:400px;
}
.carousel-item {
    height: 100%;
    background-color: #000;
    position: relative;
    background-image: url('path/to/image.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    transition: transform .6s ease;
}

    .carousel-item img {
        display: none;
    }



.carousel-control-prev, .carousel-control-next {
    width: 5%;
    font-size: 1.5rem;
    text-shadow: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: none;
}

.carousel-control-prev:before, .carousel-control-next:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.carousel-control-prev:before {
    background-image: url('path/to/left-arrow-icon.png');
}

.carousel-control-next:before {
    background-image: url('path/to/right-arrow-icon.png');
}
