body {
}
.gradient-custom {
    background-color: #05445E;
    /*background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))*/
}
.card {
    background-color: #C5C5C5;
    color: #145DA0;
}
.text-white-50{
    color:black;
}
.form-label,
.form-control {
    font-size: 20px;
    color:black;
}
.form-outline.form-white.mb-4 {
    text-align: left;
}
.btn-outline-light {
    background-color: #145DA0;
    color: white;
}
.mb-0 {
    color:black;
}
