body {
}
.gradient-custom {
    background-color: #D4F1F4;
    /*background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))*/
}
.card {
    background-color: #464033;
    color:white;
}