body {
    background-color:white;
    background-image:url(~/Images/house3.jpg);
}
/*.vh-100 {
    background-color: #145DA0;
}
.card text-black{
    border-radius:25px;
}*/
.divider-text:before,
.divider-text:after{
    color:white;
    content:"";
    flex:1;
    border-bottom:1px solid #555;
    margin:auto 0.25rem;
    box-shadow:0 -2px;
}
.card {
    margin-bottom: 600px;
    margin-top: 600px;
    height: 800px;
    width: 700px;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}
.h-100 {
    background-color: #05445E;
}
.card-body h3 {
    color: #145DA0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.btn {
    background-color: #145DA0;
    width: 600px;
    color:white;
    font-size:18px;
    font-weight:bold;
    margin-top:-20px;
}
.img-fluid {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
    height:1000px;
    

}
.col-xl-6 {
    padding-left: 20px;
    background-color: #C5C5C5;
}
.gradient-custom {
    background-color: #1E3D58;
}
.card-header {
    background-color: #746C70;
}
    