body {
    background-color:white;

}
.container {
    margin-top: 20px;
    margin-bottom: 150px;
    background-color: #FFFDD0;
    padding-left:100px;
}
ul {
    list-style-type: none;
}

ol {
    list-style-type: decimal;
}
.btn {
    margin-top: 150px;
    margin-bottom: 200px;
    background-color: #18A558;
    width: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
    color:white;
    font-size:20px;
    font-weight:600;
}
.animated-image {
    margin-top:100px;
    position: absolute;
    right: 0;
    top: 0;
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
