body {
    background-color:white;
}
.container {
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: white;
}
ul {
    list-style-type: none;
}

ol {
    list-style-type: decimal;
}
.btn{
    margin-top:70px;
    margin-bottom:200px;
    background-color:aquamarine;
    width:600px;
    padding-top:15px;
    padding-bottom:15px;

    
}
