body {
    background-color:aqua;
}
.container {
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: aqua;
}
ul {
    list-style-type: none;
}

ol {
    list-style-type: decimal;
}
.btn{
    margin-top:200px;
    margin-bottom:200px;
    padding-bottom:200px;
}
