@{
    ViewData["Title"] = "Application1 Page";
}
<link rel="stylesheet" href="~/css/application.css" asp-append-version="true" />


<br>
<br><br>
<br>
<br>
<br>
<form action="#" class="form">
    <h1 class="text-center">Application</h1>
    <!-- Progress bar -->
    <div class="progressbar">
        <div class="progress" id="progress"></div>

        <div class="progress-step progress-step-active"
             data-title="Personal"></div>
        <div class="progress-step" data-title="House Info"></div>
        <div class="progress-step" data-title="Plan Upload"></div>
        <div class="progress-step" data-title="Payment"></div>
    </div>

    <!-- Steps -->
    <!--first part-->
    <div class="form-step form-step-active">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" id="firstName" />
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" id="lastName" />
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="position">Address</label>
            <input type="text" name="address" id="address" />
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" id="phone" />
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <label for="ID">NIC</label>
                    <input type="number" name="ID" id="ID" />
                </div>
            </div>
        </div>

       <div class="input-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
        </div>

        <div class="input-group">
            <label for="dob">Date of Birth</label>
            <input type="date" name="dob" id="dob" />
        </div>

        <div class="">
            <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
        </div>
    </div>

    <!--second part -->
    <div class="form-step">

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <label for="firstName">Assessment No.</label>
                    <input type="text" name="assessment" id="assessment" />
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <label for="lastName">Postal Zone</label>
                    <input type="text" name="postal" id="postal" />
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="email">Street Name</label>
            <input type="text" name="street" id="street" />
        </div>

         <div class="row">
            <div class="col">
                <div class="input-group">
                    <label for="firstName">No. of rooms</label>
                    <input type="text" name="rooms" id="rooms" />
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <label for="lastName">No. of perches</label>
                    <input type="text" name="perches" id="perches" />
                </div>
            </div>
        </div>

        <div class="input-group">
            <label for="email">Building Area</label>
            <input type="text" name="area" id="area" />
        </div>

        </div>

    <!--third part-->
    <div class="form-step">
        <div class="input-group">
            <label for="dob">Date of Birth</label>
            <input type="date" name="dob" id="dob" />
        </div>
        <div class="input-group">
            <label for="ID">National ID</label>
            <input type="number" name="ID" id="ID" />
        </div>
        <div class="btns-group">
            <a href="#" class="btn btn-prev">Previous</a>
            <a href="#" class="btn btn-next">Next</a>
        </div>
    </div>

    <!--fourth part-->
    <div class="form-step">
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
        </div>
        <div class="input-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password"
                   name="confirmPassword"
                   id="confirmPassword" />
        </div>
        <div class="btns-group">
            <a href="#" class="btn btn-prev">Previous</a>
            <input type="submit" value="Submit" class="btn" />
        </div>
    </div>
</form>
<script src="~/js/application.js" asp-append-version="true"></script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



