@{
    ViewData["Title"] = "Services Page";
}

<div class="container mt-5">
    <ul>
        <h3>Required Documents</h3>
        <li>1.Correctly filled application form</li>
        <li>2.A plan of the building</li>
        <li>3.A plan of the land</li>
        <li>4.A relevant deed</li>
        </ul>
</div>