<link rel="stylesheet" href="~/css/services.css" asp-append-version="true" />


@{
    ViewData["Title"] = "Services Page";
}

<br>
<br>
<br>

<div class="container">
    <h3>Required Documents</h3>
    <ol>
        <li>Correctly filled application form</li>
        <li>A plan of the building</li>
        <li>A plan of the land</li>
        <li>A relevant deed</li>
    </ol>
    <br> <br> 
    <h3>Guildlines</h3>
    <ol>
         <li>Carefully fill the application</li>
        <li>Upload relevant documents</li>
        <li>Make the payment</li>
        <li>If rejected kindly correct the plan and submit again</li>
        <li>Approved paln can be obtain after the approval frand is placed on it </li>
    </ol>

    @*<div class="d-flex justify-content-center mt-5">
    <a href="@Url.Action("Application", "Application")" class="submit" >Submit an Applicationn --> </a>
</div>*@

    <div class="d-flex justify-content-center mt-5">
        <form action="@Url.Action("Application", "Application")" method="get">
            <button type="submit" class=" my-button-class">Submit an Application &#8594;</button>
        </form>
    </div>



    <img src="~/images/houseanimate.png" alt="Animated Image" class="animated-image" />
   
</div>








