@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row" style="margin: 0; padding: 0;">
    <div class="col-md-6 mb-3 mt-3">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button style="background-color:#055C9D" class="btn btn-primary mt-3 mb-3" type="submit">Download</button>
           
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>
<br>
<br>
<br>
<br>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
