@{
    ViewData["Title"] = "About Page";
}
<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
<br>
<br>
<br>

<div class="categories">

    <div class="row">

        <div class="col-4">
            <img src="~/images/house6.jpg">

        </div>

        <div class="col-4">
            <h2>About Us</h2>

            <p class="align">
                We are providing the service to maintain a healthy body with
                categoriezed diet paln and workout plan according to the person's BMI index. Other than
                that she or he can manage their tasks by adding tasks, edit tasks, delete tasks.Workout is
                a practice or exercise to test or improve one's fitness for athletic competition, ability,
                or performance. Diet is n nutrition, diet is the sum of food consumed by a person or other organism.
            </p>
        </div>

    </div>
</div>