<link rel="stylesheet" href="~/css/application.css" asp-append-version="true" />
@model Application
@{
ViewData["Title"] = "Application";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>

@*<form id="Application" class="form" method="post" enctype="multipart/form-data" data-ajax="true">*@
<form id="Application" class="form" asp-area="HomeOwner" asp-action="Application" asp-controller="Application" method="post" >

   <h1 class="text-center">Application</h1>
   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   <!-- Progress bar -->
   <div class="progressbar ">
      <div class="progress" id="progress"></div>
      <div class="progress-step progress-step-active" data-title="Personal"></div>
      <div class="progress-step" data-title="House Info"></div>
      <div class="progress-step" data-title="Plan Upload"></div>
      <div class="progress-step" data-title="Payment"></div>
   </div>
   <!-- Steps -->
   <!--first part-->
   <div class="form-step form-step-active">
      <div class="row">
         <div class="col">
            <div class="input-group">
              <label asp-for="FirstName"></label>
              <input asp-for="FirstName" required data-val-required="Please enter your first name"/>
              <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

         </div>
         <div class="col">
            <div class="input-group">
               <label asp-for="LastName"></label>
               <input asp-for="LastName" required/>
               <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
         </div>
      </div>
      <div class="input-group">
         <label asp-for="Address"></label>
         <input asp-for="Address" required/>
         <span asp-validation-for="Address" class="text-danger"></span>
      </div>
      <div class="row">
         <div class="col">
            <div class="input-group">
               <label asp-for="Phone" required></label>
               <input asp-for="Phone"/>
               <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
         </div>
         <div class="col">
            <div class="input-group">
               <label asp-for="NIC "></label>
               <input asp-for="NIC"/>
               <span asp-validation-for="NIC" class="text-danger"></span>
            </div>
         </div>
      </div>
      <div class="input-group">
         <label asp-for="Email"></label>
         <input asp-for="Email"/>
         <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="input-group">
         <label asp-for="DateOfBirth"></label>
         <input asp-for="DateOfBirth" asp-format="{yyyy-MM-dd}"/>
         <span asp-validation-for="DateOfBirth" class="text-danger"></span>
      </div>
      <div class="">
         <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
      </div>
   </div>
   <!--second part -->
   <div class="form-step">
      <div class="row">
         <div class="col">
            <div class="input-group">           
               <label asp-for="AssessmentNo"></label>
               <input asp-for="AssessmentNo" required/>
               <span asp-validation-for="AssessmentNo" class="text-danger"></span>
            </div>
         </div>
         <div class="col">
            <div class="input-group">
               <label asp-for="PostalCode"></label>
               <input asp-for="PostalCode" required/>
               <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
         </div>
      </div>
      <div class="input-group">
         <label asp-for="StreetName"></label>
         <input asp-for="StreetName"/>
         <span asp-validation-for="StreetName" class="text-danger"></span>
      </div>
      <div class="row">
         <div class="col">
            <div class="input-group">
               <label asp-for="No_Of_Rooms"></label>
               <input asp-for="No_Of_Rooms"/>
               <span asp-validation-for="No_Of_Rooms" class="text-danger"></span>
            </div>
         </div>
         <div class="col">
            <div class="input-group">
               <label asp-for="No_of_perches"></label>
               <input asp-for="No_of_perches"/>
               <span asp-validation-for="No_of_perches" class="text-danger"></span>
            </div>
         </div>
      </div>
      <div class="input-group">
         <label asp-for="BuildingArea"></label>
         <input asp-for="BuildingArea"/>
         <span asp-validation-for="BuildingArea" class="text-danger"></span>
      </div>
      <div class="btns-group">
         <a href="#" class="btn btn-prev">Previous</a>
         <a href="#" class="btn btn-next">Next</a>
      </div>
   </div>
   <!--third part-->
   <div class="form-step">
      <div class="input-group">
         <label asp-for="PlanNo"></label>
         <input asp-for="PlanNo"/>
         <span asp-validation-for="PlanNo" class="text-danger"></span>
      </div>
      <div class="input-group">
         <label for="fileHomePlan">Upload House Plan</label>
         <input type="file" name="fileHomePlan" id="file1" accept="image/*, .pdf" />
      </div>
      <div class="input-group">
         <label for="fileLandPlan">Upload Land Plan</label>
         <input type="file" name="fileLandPlan" id="file2" accept="image/*, .pdf" />
      </div>
      <div class="btns-group">
         <a href="#" class="btn btn-prev">Previous</a>
         <a href="#" class="btn btn-next">Next</a>
      </div>
   </div>
   <!--fourth part-->
   <div class="form-step">
      <div class="input-group">
         <h5>Payments</h5>
         <br />
      </div>
      <div class="input-group">
         <label></label>
         <ul>
            <li>Rs 500/= is charged as the application fee</li>
            <li>Accepts only online payments</li>
            <li>Accepts Credit/Debit Cards</li>
            <li>Accepted cards: Visa, Mastercard, American Express</li>
            <li>Visa and Mastercard are accepted for payment</li>
            <li>No additional charges will be applied</li>
            <li>All online payments are securely processed through Stripe Payments</li>
            <li>Your card details are not stored for added security</li>
            <li>You will receive a confirmation once the payment is successfully processed</li>
            <li>You will receive application status updates throughout the process to the provided email</li>
         </ul>
      </div>
      <input asp-for="Payment_Method" style="display: none;"/>
      @*<span asp-validation-for="Payment_Method" class="text-danger"></span>*@
      <div class="btns-group">
         <a href="#" class="btn btn-prev">Previous</a>
         <button type="submit" class="btn" >Proceed to Pay</button>
         @*<button type="submit" class="btn" asp-action="Payment">Proceed to Pay</button>*@
      </div>
   </div>
</form>

<script src="~/js/application.js" asp-append-version="true"></script>

